.side-by-side {
    display: flex;
    flex-direction: row;
}

.vytis-aside {
    display: flex;
    flex-direction: row;
}

body {
    margin: auto;
    max-width: 90%;
    background: url("img/lidl.jpg") no-repeat center center fixed;
    font-size: 150%;
    font-family: sans-serif ;
}

.center-article {
    margin: auto;
    width: 80%;
}

.list {
    margin: 0;
    font-size: larger;
}

.list li {
    margin-bottom: 10px;
}

.reviews-list li {
    margin-bottom: 20px;
}

.reviews-list {
    font-size: larger;
}